.has-error, .error {
    color: #e66464;
    font-size: 11px;
    font-family: verdana;

}

.mm-active{

}

.app-header {
    height: 50px;
}

.app-sidebar .app-sidebar__inner {
    padding: 1px 1rem .5rem
}

.fixed-sidebar .app-main .app-main__outer {
    padding-left: 235px;
}
.closed-sidebar.fixed-sidebar .app-main__outer {
    padding-left: 65px;
}
.app-page-title {
    padding: 10px;
    margin: -25px 0px 20px;
}

.modal-dialog {
    max-width: 100%;
    margin: 1.75rem auto;
}